---
- name: Install and setup oh-my-zsh
  hosts: all
  gather_facts: False
  tags: zsh
  tasks:
    - name: Download oh-my-zsh install script
      get_url:
        url: 'https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh'
        dest: '/tmp/oh-my-zsh-install.sh'
        mode: 0700
        timeout: 30
      register: download
      until: download is success
      retries: 3
      delay: 5
      changed_when: false
    - name: Check if oh-my-zsh is already installed
      stat:
        path: "~/.oh-my-zsh"
      register: oh_my_zsh_installed
    - name: Install oh-my-zsh if not already installed
      when: not oh_my_zsh_installed.stat.exists
      #use 'yes' command for interactive prompt
      shell: yes | sh /tmp/oh-my-zsh-install.sh
    - name: Make sure zshrc is present
      file:
        path: "~/.zshrc"
        state: touch
        mode: 0700
        access_time: preserve
        modification_time: preserve
    - name: Add oh-my-zsh variables to zshrc
      lineinfile:
        path: "~/.zshrc"
        state: present
        line: '{{ item }}'
      loop:
        - 'export ZSH="$HOME/.oh-my-zsh"'
        - 'plugins=(git)'
        - 'source $ZSH/oh-my-zsh.sh'
