---
- name: Setup mise in zsh
  hosts: all
  gather_facts: False
  tags: mise,zsh
  tasks:
    - name: Make sure mise.zsh is present
      file:
        path: "~/.oh-my-zsh/custom/mise.zsh"
        state: touch
        mode: 0700
        access_time: preserve
        modification_time: preserve
    - name: Add mise hook to zsh
      lineinfile:
        path: "~/.oh-my-zsh/custom/mise.zsh"
        state: present
        line: '{{ item }}'
      loop:
        - 'eval "$(mise activate zsh)"'
